In [1]:
import pandas as pd

In [2]:
states_data = pd.read_csv('../1_Data/usa_states.csv')

In [3]:
shooting_data = pd.read_csv('../1_Data/police-shootings.csv')

In [4]:
states_data.head()

   State Name USPS Abbreviation
0     Alabama                AL
1      Alaska                AK
2     Arizona                AZ
3    Arkansas                AR
4  California                CA

In [5]:
states_data.columns = ['state_name', 'state_abbr']

In [6]:
states_data.head()

   state_name state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

In [7]:
states_data.shape

(50, 2)

In [8]:
shooting_data.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [9]:
shooting_data.shape

(8002, 17)

In [10]:
states_data['state_name'] = states_data['state_name'].str.strip(' ')

In [11]:
states_data['state_abbr'] = states_data['state_abbr'].str.strip(' ')

In [12]:
states_data.state_name.value_counts()

Alabama           1
Pennsylvania      1
Nevada            1
New Hampshire     1
New Jersey        1
New Mexico        1
New York          1
North Carolina    1
North Dakota      1
Ohio              1
Oklahoma          1
Oregon            1
Rhode Island      1
Alaska            1
South Carolina    1
South Dakota      1
Tennessee         1
Texas             1
Utah              1
Vermont           1
Virginia          1
Washington        1
West Virginia     1
Wisconsin         1
Nebraska          1
Montana           1
Missouri          1
Mississippi       1
Arizona           1
Arkansas          1
California        1
Colorado          1
Connecticut       1
Delaware          1
Florida           1
Georgia           1
Hawaii            1
Idaho             1
Illinois          1
Indiana           1
Iowa              1
Kansas            1
Kentucky          1
Louisiana         1
Maine             1
Maryland          1
Massachusetts     1
Michigan          1
Minnesota         1
Wyoming           1
Name: state_name, dtype: int64

In [13]:
shooting_data = shooting_data.merge(states_data, how='left', left_on='state', right_on='state_abbr')

In [14]:
shooting_data.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,state_name,state_abbr
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True,Washington,WA
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True,Oregon,OR
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True,Kansas,KS
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True,California,CA
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True,Colorado,CO

In [15]:
shooting_data.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,state_name,state_abbr
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True,Washington,WA
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True,Oregon,OR
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True,Kansas,KS
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True,California,CA
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True,Colorado,CO

In [16]:
shooting_data.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
longitude                  float64
latitude                   float64
is_geocoding_exact            bool
state_name                  object
state_abbr                  object
dtype: object

In [17]:
shooting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8002 entries, 0 to 8001
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       8002 non-null   int64
 1   name                     7548 non-null   object
 2   date                     8002 non-null   object
 3   manner_of_death          8002 non-null   object
 4   armed                    7791 non-null   object
 5   age                      7499 non-null   float64
 6   gender                   7971 non-null   object
 7   race                     6485 non-null   object
 8   city                     8002 non-null   object
 9   state                    8002 non-null   object
 10  signs_of_mental_illness  8002 non-null   bool
 11  threat_level             8002 non-null   object
 12  flee                     7036 non-null   object
 13  body_camera              8002 non-null   bool
 14  longitude                7162 non-null   float64
 15  latitude                 7162 non-null   float64
 16  is_geocoding_exact       8002 non-null   bool
 17  state_name               7978 non-null   object
 18  state_abbr               7978 non-null   object
dtypes: bool(3), float64(3), int64(1), object(12)
memory usage: 1.1+ MB

#### Checking for null values

In [18]:
shooting_data.isnull().sum()

id                            0
name                        454
date                          0
manner_of_death               0
armed                       211
age                         503
gender                       31
race                       1517
city                          0
state                         0
signs_of_mental_illness       0
threat_level                  0
flee                        966
body_camera                   0
longitude                   840
latitude                    840
is_geocoding_exact            0
state_name                   24
state_abbr                   24
dtype: int64

### Dataset Observations

##### id,name, is_geocoding_exact, state_abbr and  state column wont be useful for our analysis: drop them
##### rename state_name to state
##### date is in object datatype: convert to date format
##### armed contains null values: replace null values with a placeholder text value
##### age contains null values: replace null values with placeholder integer value
##### age is a float, convert to int datatype
##### gender is an object: convert to categorical
##### gender contains null values: replace null values with placeholder text
##### race contains null values: replace nulls with placeholder text
##### flee contains null values: replace nulls with placeholder text
##### longitude and latitude has some missing values: replace missing values with 0's

#### Data Wrangling

In [19]:
shooting_data_clean = shooting_data.copy()

##### id,name, is_geocoding_exact and state column wont be useful for our analysis: drop them

### Define: 
#### use dataframe.drop to remove unuseful columns

### Code

In [20]:
shooting_data_clean.drop(['id', 'name', 'is_geocoding_exact', 'state', 'state_abbr'], axis=1, inplace=True)

### Test

In [21]:

shooting_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8002 entries, 0 to 8001
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     8002 non-null   object
 1   manner_of_death          8002 non-null   object
 2   armed                    7791 non-null   object
 3   age                      7499 non-null   float64
 4   gender                   7971 non-null   object
 5   race                     6485 non-null   object
 6   city                     8002 non-null   object
 7   signs_of_mental_illness  8002 non-null   bool
 8   threat_level             8002 non-null   object
 9   flee                     7036 non-null   object
 10  body_camera              8002 non-null   bool
 11  longitude                7162 non-null   float64
 12  latitude                 7162 non-null   float64
 13  state_name               7978 non-null   object
dtypes: bool(2), float64(3), object(9)
memory usage: 828.3+ KB

##### rename state_name to state

### Define

#### Change the column name using the rename method

### Code

In [22]:
shooting_data_clean.rename(columns={'state_name': 'state'}, inplace=True)

### Test

In [23]:
shooting_data_clean.head(3)

,date,manner_of_death,armed,age,gender,race,city,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,state
0,2015-01-02,shot,gun,53.0,M,A,Shelton,True,attack,Not fleeing,False,-123.122,47.247,Washington
1,2015-01-02,shot,gun,47.0,M,W,Aloha,False,attack,Not fleeing,False,-122.892,45.487,Oregon
2,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,False,other,Not fleeing,False,-97.281,37.695,Kansas

##### date is in object datatype: convert to date format

### Define

#### use pd.to_datetime to convert to date format

### Code

In [24]:
shooting_data_clean.date.dtype

dtype('O')

In [25]:
shooting_data_clean['date'] = pd.to_datetime(shooting_data_clean.date)

### Test

In [26]:
shooting_data_clean.date.info()

<class 'pandas.core.series.Series'>
Int64Index: 8002 entries, 0 to 8001
Series name: date
Non-Null Count  Dtype
--------------  -----
8002 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 125.0 KB

##### armed contains null values: replace null values with a placeholder text value

### Define

#### Use the fillna method to replace null values

### Code

In [27]:
shooting_data_clean[shooting_data_clean.armed.isnull()].head()

,date,manner_of_death,armed,age,gender,race,city,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,state
15,2015-01-08,shot,NaN,28.0,M,W,Huntley,False,undetermined,Not fleeing,False,-108.315,45.859,Montana
26,2015-01-14,shot,NaN,24.0,M,B,St. Paul,False,attack,Not fleeing,False,-93.094,44.958,Minnesota
27,2015-01-14,shot,NaN,29.0,M,W,Franklin County,False,attack,Not fleeing,False,-90.794,38.317,Missouri
45,2015-01-20,shot,NaN,42.0,M,B,Scottsdale,False,other,Car,False,-111.909,33.509,Arizona
52,2015-01-23,shot,NaN,29.0,M,B,Fort Lauderdale,False,other,Not fleeing,False,-80.212,26.150,Florida

In [28]:
shooting_data_clean.armed.fillna('Unknown', inplace=True)

### Test

In [29]:
shooting_data_clean[shooting_data_clean.armed.isnull()].head()

Empty DataFrame
Columns: [date, manner_of_death, armed, age, gender, race, city, signs_of_mental_illness, threat_level, flee, body_camera, longitude, latitude, state]
Index: []

##### age contains null values: replace null values with placeholder integer value

### Define

#### Use fillna to replace null values

### Code

In [30]:
shooting_data_clean[shooting_data_clean.age.isnull()].head()

,date,manner_of_death,armed,age,gender,race,city,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,state
127,2015-02-20,shot,gun,NaN,M,H,Houston,False,attack,Car,False,-95.401,29.983,Texas
769,2015-10-12,shot,gun,NaN,M,B,Lawton,False,attack,Not fleeing,False,-98.422,34.599,Oklahoma
809,2015-10-24,shot,gun,NaN,M,NaN,New Paltz,False,attack,Not fleeing,False,-74.080,41.747,New York
819,2015-10-29,shot,gun,NaN,M,B,Columbus,False,other,Not fleeing,False,-82.863,39.922,Ohio
932,2015-12-10,shot,gun,NaN,M,NaN,Hemet,False,attack,Not fleeing,False,-116.971,33.729,California

In [31]:
shooting_data_clean.age.fillna(0, inplace=True)

### Test

In [32]:
shooting_data_clean[shooting_data_clean.age.isnull()].head()

Empty DataFrame
Columns: [date, manner_of_death, armed, age, gender, race, city, signs_of_mental_illness, threat_level, flee, body_camera, longitude, latitude, state]
Index: []

##### age is a float: convert to int datatype

### Define

#### Convert values to int using the astype method

### Code

In [33]:
shooting_data_clean['age'] = shooting_data_clean.age.astype(int)

### Test

In [34]:
shooting_data_clean.age.dtype

dtype('int32')

In [35]:
shooting_data_clean['gender'] = shooting_data_clean.gender.map({'M':'Male', 'F':'Female'})

In [36]:
set(shooting_data_clean.gender.values)

{'Female', 'Male', nan}

##### gender contains null values: replace null values with placeholder text

## Define

#### Replace null values using the fillna method

### Code

In [37]:
shooting_data_clean['gender'] = shooting_data_clean.gender.fillna('Not Specified')

### Test

In [38]:
shooting_data_clean.gender.value_counts()

Male             7613
Female            358
Not Specified      31
Name: gender, dtype: int64

##### gender is an object: convert to categorical

### Define

#### convert gender to categorical datatype

### Code

In [39]:
shooting_data_clean['gender'] = shooting_data_clean['gender'].astype('category')

### Test

In [40]:
shooting_data_clean.gender.dtype

CategoricalDtype(categories=['Female', 'Male', 'Not Specified'], ordered=False)

In [41]:
shooting_data_clean['race'] = shooting_data_clean.race.map({
    'W': 'White', 'B':'Black',
    'H': 'Hispanic', 'A':'Asian',
    'N': 'Native American','O':'Other'})

In [42]:
shooting_data_clean.race.value_counts()

White              3300
Black              1766
Hispanic           1166
Asian               129
Native American     105
Other                19
Name: race, dtype: int64

##### race contains null values: replace nulls with placeholder text

### Define

#### Replace null values with placeholder text

### Code

In [43]:
shooting_data_clean.race.fillna('Unknown', inplace=True)

### Test

In [44]:
shooting_data_clean.race.value_counts()

White              3300
Black              1766
Unknown            1517
Hispanic           1166
Asian               129
Native American     105
Other                19
Name: race, dtype: int64

##### flee contains null values: replace nulls with placeholder text

### Define

#### Replace null with placeholder text

### Code

In [45]:
shooting_data_clean.flee.fillna('Not Specified', inplace=True)

### Test

In [46]:
shooting_data_clean.flee.value_counts()

Not fleeing      4430
Car              1289
Foot             1022
Not Specified     966
Other             295
Name: flee, dtype: int64

##### longitude and latitude has some missing values: replace missing values with 0's

### Define

#### Replace null values with 0

### Code

In [47]:
shooting_data_clean['latitude'].fillna(0, inplace=True)

In [48]:
shooting_data_clean['longitude'].fillna(0, inplace=True)

### Test

In [49]:
shooting_data_clean[['latitude','longitude']].head()

   latitude  longitude
0    47.247   -123.122
1    45.487   -122.892
2    37.695    -97.281
3    37.763   -122.422
4    40.384   -104.692

In [50]:
shooting_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8002 entries, 0 to 8001
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     8002 non-null   datetime64[ns]
 1   manner_of_death          8002 non-null   object
 2   armed                    8002 non-null   object
 3   age                      8002 non-null   int32
 4   gender                   8002 non-null   category
 5   race                     8002 non-null   object
 6   city                     8002 non-null   object
 7   signs_of_mental_illness  8002 non-null   bool
 8   threat_level             8002 non-null   object
 9   flee                     8002 non-null   object
 10  body_camera              8002 non-null   bool
 11  longitude                8002 non-null   float64
 12  latitude                 8002 non-null   float64
 13  state                    7978 non-null   object
dtypes: bool(2), category(1), datetime64[ns](1), float64(2), int32(1), object(7)
memory usage: 742.5+ KB

In [51]:
shooting_data_clean.to_csv('../3_Analysis/police_shooting.csv', index=False)